<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="com.colt.fieldengineerapp.util.TestCaseListener" />
			<listener class-name="com.colt.fieldengineerapp.reporting.ExtentReporterNG"/>
	</listeners>
	<test thread-count="5" name="HomePageTest">
		
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.HomePageTest" />
			</classes>

	</test> <!-- Test -->
	
	<test thread-count="5" name="EndToEndNewTasksPageTest">
		
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.EndToEndNewTasksPageTest" />
			</classes>

	</test> <!-- Test -->
	
	<test thread-count="5" name="EndToEndInProgressTasksTest">
		
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.EndToEndInProgressTasksTest" />
			</classes>

	</test> <!-- Test -->
	
	<test thread-count="5" name="EndToEndCompletedTasksTest">
		
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.EndToEndCompletedTasksTest" />
			</classes>

	</test> <!-- Test -->
	
	<test thread-count="5" name="EndToEndMaintenanceTasksPageTest">
		
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.EndToEndMaintenanceTasksPageTest" />
			</classes>

	</test> <!-- Test -->
	
	<test thread-count="5" name="EndToEndInstallationTasksPageTest">
		
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.EndToEndInstallationTasksPageTest" />
			</classes>

	</test> <!-- Test -->
	
	
	
	<test thread-count="5" name="RaisePlanwork">
		<!-- 
		<groups>
			<run>
				<exclude name="smoke" />
			</run>
		</groups>
		 -->
		<!-- <packages> <package name = "com.colt.fieldengineerapp.testcases"/> 
			</packages> -->
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.EndToEndTestForRaisePlannedWorks" />	
		</classes>

	</test> <!-- Test -->
	<test thread-count="5" name="AlertsRaisePlanWork">
		
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.ErrorPopupsRaisePlannedWorksTest" />
			</classes>

	</test> <!-- Test -->
	<test thread-count="5" name="PlannedWork">
		
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.EndToEndTestForPlannedWorks" />
	</classes>

	</test> <!-- Test -->
	<test thread-count="5" name="SingleTaskView">
		
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.EndToEndTestForSingleTaskView" />
		</classes>

	</test> <!-- Test -->
	
	<test thread-count="5" name="OpenDrawerPageTest">
		
		<classes>		
			<class name="com.colt.fieldengineerapp.testcases.OpenDrawerPageTest" />
		</classes>

	</test> <!-- Test -->
	<test thread-count="5" name="SettingsPageTest">
		
		<classes>		
			<class name="com.colt.fieldengineerapp.testcases.SettingsPageTest" />
		</classes>

	</test> <!-- Test -->
	<test thread-count="5" name="TemplatesLinkTest">
		
		<classes>		
			<class name="com.colt.fieldengineerapp.testcases.TemplatesPageTest" />
		</classes>

	</test> <!-- Test -->
	<test thread-count="5" name="ActionsPageTest">
		
		<classes>		
			<class name="com.colt.fieldengineerapp.testcases.EndToEndActionsPageTest" />
		</classes>

	</test> <!-- Test -->

	
</suite> <!-- Suite -->
