<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="com.colt.fieldengineerapp.base.TestCaseListener" />
			<listener class-name="com.colt.fieldengineerapp.reporting.ExtentReporterNG"/>
	</listeners>
	<test thread-count="5" name="RaisePlanwork">
		<!-- 
		<groups>
			<run>
				<exclude name="smoke" />
			</run>
		</groups>
		 -->
		<!-- <packages> <package name = "com.colt.fieldengineerapp.testcases"/> 
			</packages> -->
		<classes>
				<class name="com.colt.fieldengineerapp.testcases.EndToEndTestForRaisePlannedWorks" />	
		</classes>

	</test> <!-- Test -->
	
</suite> <!-- Suite -->
